// Place all the styles related to the attend controller here.
// You can use Sass (SCSS) here: http://sass-lang.com
// They will automatically be included in application.css.

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.inline-flex {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.attend-list {
  border: 1px solid #ddd;
  .attend-list-left {
    display: inline-block;
    width: 320px;
    border-right: 1px solid #ddd;
    padding: 29px 20px;
    .attend-user-wrapper {
      .attend-user-id {
        display: inline-block;
        border: 1px solid #aaa;
        padding: 10px 10px;
        width: 200px;
        margin-bottom: 20px;
        margin-right: 5px;
      }
      .attend-user-link {
        background-color: #000;
        color: #fff;
        cursor: pointer;
        padding: 13px 20px;
      }
    }
    .attend-check-wrapper {
      .attend-check-form {
        .attend-check-btn-wrapper {
          margin-right: 7px;
          select {
            border: 1px solid #aaa;
            background-color: #fff;
            margin-bottom: 10px;
            height: 40px;
          }
          .attend-btn {
            background-color: #aaa;
            color: #fff;
            padding: 12px 20px;
            display: inline-block;
          }
        }
        .attend-check-submit {
          border: none;
          background-color: #000;
          color: #fff;
          padding: 0 20px;
        }
      }
    }
  }
  .attend-list-right {
    display: inline-block;
    padding: 10px;
    position: absolute;
    .attend-image {
      width: 194px;
      height: 194px;
    }
  }
}
