// Place all the styles related to the facebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form.form-regram.form-facebook {
  text-align: center;
  .input-image > .fields {
    margin-right: 40px;
    div > label.img_label {
      margin-right: 20px;
    }
  }
}
