// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.table {
  margin: 30px 0 0 0;
}
form.form-member, form.form-tag {
  width: 1080px;
  margin: auto;
  label {
    width: 120px;
    text-align: center;
  }
  label.label-comment {
    vertical-align: top;
  }
  input.form-control, select.form-control {
    width: 410px;
    margin-bottom: 10px;
  }
  input.input-follower {
    width: 100px;
  }
  textarea.form-control {
    width: 950px;
    margin-bottom: 10px;
  }
  .radio {
    display: inline-block;
    label {
      width: 80px;
    }
  }
  .btn-wrapper {
    text-align: right;
    .btn {
      width: 100px;
    }
  }
}
label.regram-info {
  width: 120px;
  text-align: center;
}
input.regram-info {
  margin-bottom: 10px;
  width: 200px;
  display: inline-block;
}
input.regram-info-top {
  margin-top: 68px;
}
a.new-regram-btn {
  margin-top: 20px;
  float: right;
}

table.table-regram {
  tbody > tr {
    cursor: pointer;
  }
}

table.table-regram-index {
  tbody > tr > td {
    vertical-align: middle;
  }
}

.btn-wrapper {
    text-align: right;
    .btn {
      width: 100px;
    }
  }

form.form-search {
  margin-top: 30px;
  div {
    display: inline-block;
    label {
      width: 15%;
    }
    input {
      margin-bottom: 10px;
    }
    input.input-text {
      width: 80%;
    }
  }
  div.search-input {
    width: 40%;
    input.input-date {
      width: 37%;
    }
    input.input-number {
      width: 37%;
    }
    input#start_date, input#start_regram_date, input#start_rocket, input#from_regram {
      margin-right: 5%;
    }
  }
  div.search-btn {
    vertical-align: top;
    width: 19%;
    input.btn {
      width: 80%;
      height: 121px;
      margin-left: 20%
    }
  }
}

@media (max-width: 767px) {
  .pc {
    display: none;
  }
  form.form-member {
    width: auto;
    label {
      width: 30%;
    }
    input.form-control, select.form-control {
      width: 65%;
    }
    textarea.form-control {
      width: 100%;
    }
    .btn-wrapper {
      margin: 20px 0;
    }
  }
  label.regram-info {
    width: 30%;
  }
  input.regram-info {
    width: 65%;
  }
  input.regram-info-top {
    margin-top: 0;
  }
  a.new-regram-btn {
    margin-bottom: 20px;
  }

  form.form-search {
    div.search-input {
      width: 100%;
      display: block;
      label {
        width: 28%;
      }
      input, input.input-date, input.input-number {
        width: 70%;
      }
      input#start_date, input#start_regram_date, input#start_rocket, input#from_regram {
        margin-right: 0;
      }
      input#end_date, input#end_regram_date, input#end_rocket, input#to_regram {
        margin-left: 30%;
      }
    }
    div.search-btn {
      width: 100%;
      input.btn {
        height: auto;
        width: 100px;
        float: right;
      }
    }
  }
}
