// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.margin-top {
  margin: 30px 0 0 0;
}
.name {
  display: inline-block;
  width: 300px;
}
.red {
  background-color: #FEA0A0;
}
form.edit-count-form {
  display: inline-block;
}
table.edit-count {
  margin: 30px 0 0 0;
  td.td-label {
    width: 80px;
    text-align: center;
  }
  td input {
    width: 300px;
    padding: 5px 10px;
  }
}
.button {
  margin: 10px 0 0 0px;
  padding: 5px 25px !important;
}
