// Place all the styles related to the regrams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form.form-regram {
  width: 1080px;
  margin: auto;
  label {
    width: 120px;
    text-align: center;
  }
  input.form-control, select.form-control {
    width: 410px;
    margin-bottom: 10px;
  }
  input#regram_member_id, input.form-input-member {
    margin-right: 530px;
  }
  select.select-time {
    width: 200px;
    margin-right: 210px;
  }
  label.label-top {
    vertical-align: top;
  }
  textarea.form-control {
    width: 730px;
    height: 400px;
    margin-bottom: 10px;
  }
  div.content-btn {
    display: inline-block;
    padding-left: 10px;
    width: 210px;
    height: 330px;
    vertical-align: top;
    span.btn {
      width: 200px;
      padding: 19px 0;
      margin-bottom: 10px;
    }
    input.form-control, select.form-control {
      width: 200px;
    }
  }
  div.input-image {
    position: relative;
    display: inline-block;
    width: 910px;
    min-height: 100px;
    margin-bottom: 20px;
    div.fields {
      display: inline-block;
    }
    img.preview {
      width: 100px;
      height: auto;
    }
    input.input-file-field {
      display: inline-block;
      position: absolute;
      width: 120px;
      min-height: 100px;
      opacity: 0;
    }
    .pics_add_btn {
      position: relative;
      display: inline-block;
      padding: 30px;
      margin-left: 20px;
      top: 25px;
      background: {
        image: image-url("plus.png");
        repeat: no-repaet;
        size: 100% 100%;
      }
      &:hover {
        background: {
         color: rgba(0,0,0,0.2);
        }
        -webkit-transition: background-color 100ms linear;
        -moz-transition: background-color 100ms linear;
        -o-transition: background-color 100ms linear;
        -ms-transition: background-color 100ms linear;
        transition: background-color 100ms linear;
      }
    }
    .pics_delete_btn {
      width: 50px;
      height: 30px;
      line-height: 1.7rem;
      color: white;
      font-size: 10px;
      background-color: #aaa;
    }
    .img_label {
      width: 100px;
      height: 100px;
    }
  }
  .btn-wrapper {
    text-align: right;
    margin: 20px 0;
    .btn {
      width: 100px;
    }
  }
}

/* Regram Index */
div.buffer {
  height: 20px;
  width: 0;
}

div.calendar-heading {
  margin-bottom: 10px;
  a.prev {
    margin-right: 20px;
    font-size: 15px;
  }
  span.calendar-title {
    font-family: NotoSansCJKkr;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
  }
  a.next {
    margin-left: 20px;
    font-size: 15px;
  }
}

ul.dayofweek, ul.calendar {
  margin-bottom: 0;
  text-align: center;
  li {
    display: inline-block;
    width: 140px;
  }
}
ul.dayofweek {
  li {
    border: 1px solid #ccc;
    text-align: center;
    p {
      margin: 0;
      padding: 5px 0;
    }
    p.dayofweek_0 {
      color: red;
    }
    p.dayofweek_6 {
      color: blue;
    }
  }
}
ul.calendar {
  li {
    margin-bottom: 5px;
    p {
      margin: 0;
      padding: 5px 0;
      span {
        padding: 5px 10px 5px 5px;
      }
      span.content, a.content {
        border: none !important;
        width: 100px;
        padding: 0;
        display: inline-block;
      }
      a.content {
        cursor: pointer;
      }
    }
  }
  li.past {
    background: #eee;
    p {
      text-align: left;
      span {
        border-right: 1px solid #aaa;
      }
    }
    p.day-title {
      text-align: center;
      background: #ccc;
    }
  }
  li.today {
    background: #C2DFFF;
    p {
      span {
        border-right: 1px solid #82A8F8;
      }
    }
    p.day-title {
      background: #82A8F8;
    }
  }
  li.future {
    background: #A4F3F0;
    p {
      span {
        border-right: 1px solid #06E7C8;
      }
    }
    p.day-title {
      background: #06E7C8;
    }
  }
}

@media (max-width: 767px) {
  ul.dayofweek {
    display: none;
  }
  ul.calendar li {
    width: 100%;
    p a.content {
      width: 80%;
    }
  }
  ul.calendar li.past {
    display: none;
  }
  form.form-regram {
    width: 100%;
    label {
      width: 30%;
      text-align: left;
    }
    input.form-control, select.select-time, select.form-control, textarea.form-control {
      width: 100%;
    }
    select.select-time {
      margin-right: 0;
    }
    div.input-image {
      width: 100%;
    }
    div.content-btn {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      padding: 0;
      input.form-control, select.form-control {
        width: 49%;
        vertical-align: top;
      }
      span.btn-tag {
        width: 49%;
        padding: 6px 0;
      }
    }
    div.btn-wrapper .btn {
      width: 49%;
      margin: 0 0 5px 0;
    }
    input#regram_member_id {
      margin-right: 0;
    }
  }
}
